.header {
    display: flex;
    align-items: center;
    position: sticky;
    background-color: var(--color-primary-dark);
    height: 135px;
    font-weight: 400;
    font-size: 25px;
    padding: 0 30px;
}

.header h1{
    color: #fff;
    cursor: pointer;
}

.header h1:hover{
    filter: brightness(0.8);
    text-decoration: underline;
}

