.header {
    display: flex;
    align-items: center;
    position: sticky;
    background-color: var(--color-primary-dark);
    height: 135px;
    font-weight: 400;
    font-size: 25px;
    padding: 0 30px;
}

.header .link {
    font-size: 52px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.header .link:hover{
    text-decoration: underline;
}
