.header {
    display: flex;
    align-items: center;
    position: sticky;
    background-color: var(--color-primary);
    color: #000;
    height: 4.688rem;
    font-size: 1.25rem;
    padding: 0.625rem;
}