
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); */

:root {
  --color-primary: #9d9570;
  --color-primary-dark: #292d33;
  --color-primary-light: #7c765a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Robot Condensed", sans-serif;
}

body {
  background-color: var(--color-primary) !important;
  width: 100%;
  position: relative;
}